<!DOCTYPE html>
<head>
	<meta charset="utf-8">
	<title>学生信息</title>
	<style>
	.teb {
		border-collapse: collapse;
	}

	.teb tr {
		margin: 4px 10px;
		text-align: center;
		border: 2px solid #999;
		border-radius: 10px;
	}

	.teb td {
		padding: 4px 10px;
		text-align: center;
	}
	</style>
</head>
<body>
<h3><a href="/home/">首页</a></h3>
<h3><a href="/home/slogin/">注销</a></h3>
<table class="teb">
	<tr>
		<td>学号</td>
		<td>姓名</td>
		<td>密码</td>
		<td>性别</td>
		<td>班级</td>
		<td>所属院系</td>
		<td>生日</td>
		<td>籍贯</td>
	</tr>
	<tr>
		<td>{{ stu.STUDENTID }}</td>
		<td>{{ stu.NAME_STU }}</td>
		<td>{{ stu.PASSWD }}</td>
		<td>{{ stu.SEX }}</td>
		<td>{{ stu.ID_CLA }}</td>
		<td>{{ stu.ID_DEP }}</td>
		<td>{{ stu.BIRTHDAY }}</td>
		<td>{{ stu.NATIVE_PLACE }}</td>
</table>
</body>
<html>
